/* PRINCIPAL */
li#customize-control-sd_footer_copyright, li#customize-control-sd_footer_credit, li#accordion-section-storefront_checkout, li#accordion-section-static_front_page, li#accordion-section-swc_shop_section, li.customize-section-description-container, li#customize-control-sd_header_sticky, li#customize-control-swc_product_layout, li#customize-control-swc_product_gallery_layout {display: none !important;opacity: 0 !important;}
#customize-info .accordion-section-title {background-color: #242424;color: #FFF;border-bottom: 1px solid #353535;}
#customize-theme-controls .accordion-section-title {color: darkgrey;background-color: #242424; border-bottom: 1px solid #373737;font-size: 11pt;text-transform: lowercase;letter-spacing: -0.03em;-webkit-border-radius: 10px;-khtml-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;-goog-ms-border-radius: 10px;}
#customize-header-actions {border-bottom: 1px solid #353535;background-color: #1A1A1A;}
.customize-controls-close {border-right: 1px solid #353535;background-color: #525252;color: darkgrey;}
.wp-color-result:after, .wp-core-ui .button-secondary,.menu-item-handle, .widget .widget-top {background: #FFFFFF;}
.wp-full-overlay-sidebar-content {background-color: #242424;padding: 10px;}
.control-section.control-panel>.accordion-section-title:after {background: #525252;color: darkgrey;border-left: 1px solid #353535;}
#customize-theme-controls .control-section:last-of-type.open, #customize-theme-controls .control-section:last-of-type>.accordion-section-title {border-bottom-color: #353535;}
#customize-theme-controls .control-section .accordion-section-title:hover, #customize-theme-controls .control-section.open .accordion-section-title, #customize-theme-controls .control-section:hover>.accordion-section-title {color: #242424;background: darkgrey;}
#customize-info {border-top: 0;}
.wp-full-overlay-sidebar {background: #242424;border-right: 1px solid #353535;}
#customize-theme-controls .accordion-section-content {background: whitesmoke;-webkit-border-radius: 0 0 10px 10px;-khtml-border-radius: 0 0 10px 10px;-moz-border-radius: 0 0 10px 10px;border-radius: 0 0 10px 10px;}
.wp-full-overlay .collapse-sidebar-arrow {color: #242424;}
.wp-full-overlay .collapse-sidebar-arrow:before {background-color: darkgrey;}
.control-panel-back:focus, .control-panel-back:hover, .customize-controls-close:focus, .customize-controls-close:hover {background: #ddd;border: 0;color: #000;}
.customize-control-background .current .container, .customize-control-header .current .container, .customize-control-image .current .container, .customize-control-upload .current .container {border: 1px solid darkgrey;}
#customize-info.open, #customize-theme-controls .control-section.open {border-bottom: 0;}
#customize-theme-controls .control-section.open .accordion-section-title {-webkit-border-radius: 10px 10px 0 0;-khtml-border-radius: 10px 10px 0 0;-moz-border-radius: 10px 10px 0 0;border-radius: 10px 10px 0 0;}
.in-sub-panel #customize-info, .in-sub-panel #customize-theme-controls>ul>.accordion-section {max-width: 285px;}
.customize-control-title {text-transform: capitalize;text-transform: uppercase;font-size: 8pt;line-height: 1;padding-top: 14px;margin-top: 4px;border-top: 1px dashed silver;}
ul.accordion-section-content li.customize-control:first-child span.customize-control-title, li#customize-control-storefront_button_background_color span.customize-control-title, li#customize-control-storefront_footer_heading_color span.customize-control-title, li#customize-control-swc_product_layout span.customize-control-title, li#customize-control-nav_menu_locations-primary span.customize-control-title {border-top: 0;margin-top: 0;}
li#customize-control-swc_product_layout span.customize-control-title {padding-top: 0;}

/* SCROLLBAR */
::-webkit-scrollbar{width:6px;height:6px}
::-webkit-scrollbar-button{width:0;height:0}
::-webkit-scrollbar-thumb{background:#8d8d8d;border:0 none #fff;border-radius:50px}
::-webkit-scrollbar-thumb:hover{background:#090909}
::-webkit-scrollbar-thumb:active{background:#000}
::-webkit-scrollbar-track{background:#444;border:0 none #fff;border-radius:50px}
::-webkit-scrollbar-track:hover{background:#292929}
::-webkit-scrollbar-track:active{background:#333}
::-webkit-scrollbar-corner{background:transparent}

/* SPINNER */
.spinner {background: url(../images/ajax-loader.gif) 0 0/20px 20px no-repeat;}
#customize-header-actions .spinner {margin-top: 12px;margin-right: 8px;}