@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
h1,h2,h3,h4,h5,h6{font-family:'Bitter',serif}
body{font-family:"PT Sans",sans-serif}
#wpadminbar *{font-family:"PT Sans",sans-serif}
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img{border-width:0;border-radius:100%;width:26px;height:26px}
#wpadminbar{height:32px;box-shadow:0 2px 2px rgba(0,0,0,0.05),0 1px 0 rgba(0,0,0,0.05);padding:4px 0;background-color:#fff}
#wpadminbar a.ab-item,#wpadminbar>#wp-toolbar span.ab-label,#wpadminbar>#wp-toolbar span.noticon{color:#696969}
#wpadminbar #adminbarsearch:before,#wpadminbar .ab-icon:before,#wpadminbar .ab-item:before{color:lightgray}
li#wp-admin-bar-wp-logo{display:none}
#wpadminbar .ab-top-menu>li:hover>.ab-item{-webkit-border-radius:5px;-khtml-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-goog-ms-border-radius:5px}
#wpadminbar .ab-top-menu>.menupop>.ab-sub-wrapper{margin-top:-5px;-webkit-border-radius:0 5px 5px 5px;-khtml-border-radius:0 5px 5px 5px;-moz-border-radius:0 5px 5px;border-radius:0 5px 5px 5px}
#adminmenu,#adminmenuback,#adminmenuwrap{width:130px;background-color:transparent}
#adminmenu{margin:8px 0}
#adminmenuback{background-image:url(../images/purty-wood.png);background-color:rgba(0,0,0,0.7)}
#adminmenu .wp-submenu{width:130px;margin-bottom:1px}
#adminmenu .wp-submenu-head,#adminmenu a.menu-top{font-size:9.5pt;letter-spacing:-.02em;text-transform:lowercase;line-height:18px}
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu div.wp-menu-image, #adminmenu li.menu-top:hover div.wp-menu-image {background-color:rgba(0,0,0,0.1);}
#adminmenu li.menu-top div.wp-menu-name{text-indent:2pt}
#adminmenu li.menu-top div.wp-menu-image{width:32px;}
#adminmenu li.menu-top:hover, #adminmenu li.menu-top{-webkit-transition: all 500ms ease;-moz-transition: all 500ms ease;-ms-transition: all 500ms ease;-o-transition: all 500ms ease;transition: all 500ms ease;}
#adminmenu .wp-submenu{left:130px}
#collapse-menu{font-size:7pt;text-transform:uppercase}
.folded #adminmenu li{margin-left:0}
ul#adminmenu a.wp-has-current-submenu:after,ul#adminmenu>li.current>a.current:after{display:none}
li.wp-submenu-head{background-color:rgba(0,0,0,0.2);text-transform:uppercase!important;font-size:8pt!important}
li.wp-submenu-head:before{content:'#'}
#adminmenu .wp-submenu a{font-size:9pt;text-transform:lowercase;text-shadow:none}
#adminmenu .wp-not-current-submenu .wp-submenu,.folded #adminmenu .wp-has-current-submenu .wp-submenu{min-width:130px;-webkit-border-radius:5px;-khtml-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-goog-ms-border-radius:5px}
#wpcontent,#wpfooter{margin-left:130px}
.wrap h2{font-size:20px;padding:15px 0 0;line-height:2;text-transform:lowercase}
.wrap h2:before{content:'@'}
h2.nav-tab-wrapper:before{display:none}
#screen-meta-links{margin:10px 20px 0 0}
#adminmenu li.wp-menu-separator {display: inherit;margin: 6px auto 6px;border-bottom: 1px solid rgba(255, 255, 255, 0.1);max-width: 80%}
#adminmenu .docs{background-color: rgba(0,0,0,0.1);}